@import url('https://webfontworld.github.io/gmarket/GmarketSans.css');

.nav-header{
    padding: 10px;
    background-color: #003366;
    font-family: 'GmarketSans', sans-serif;
    color:white;
    font-weight: 700;
}

.inputaddr{
    z-index: 2;
    position: absolute;
    left: 53%;      /*화면의 왼쪽으로부터 50% 이동*/
    transform:translateX(-50%); /*자신의 크기 절반만큼 왼쪽으로 이동*/
}

.route-wrap{
    /* font-family: 'Do Hyeon', sans-serif; */
    z-index: 2;
    position: absolute;
    display:flex;
    font-family: 'Jua', sans-serif;
    font-size: large;
    bottom: 6%;
    left:50%;
}

#short, #safe{
    background-color: whitesmoke;
    box-shadow: 5px 5px;
    padding: 10px 10px 5px 10px;
    padding-right: 20px;
    margin: 10px;
}

#pathForm{
    display: flex;
    justify-content: center;

}
html, body {  height: 100%; }

#map{
    z-index: 0;
    position: relative;
    width: 100%;
    height: 100%;
}

#start_input, #end_input{
    font-family: 'Jua', sans-serif;
    margin-top: 2% !important;
    margin-bottom: 1% !important;
}

#search-btn{
    font-family: 'Jua', sans-serif;
    width:300px;
    height: 80px;
    font-size:12px;
    margin: 5px;
}

.input-wrap{
    width: 100%;
}

.icon-flex{
    display: flex;
}

#police-btn{
    border:none;
    font-family: 'Jua', sans-serif;
    background-color: #2478FF;
    color:white;
    border-radius: 5px;
}

#btn-112{
    margin-left: 5px;
    border:none;
    font-family: 'Jua', sans-serif;
    background-color: #BC2424;
    color:white;
    border-radius: 5px;
}

.my-btn{
    z-index: 2;
    position: absolute;
    left: 20%;      /*화면의 왼쪽으로부터 50% 이동*/
    top: 90%;
    transform:translateX(-50%); /*자신의 크기 절반만큼 왼쪽으로 이동*/
    display: flex;
    flex-direction: column;
}

#check-my{
    margin-left: 5px;
    border:none;
    font-family: 'Jua', sans-serif;
    background-color: #FF7012;
    color:white;
    border-radius: 5px;
}
#btnStop{
    margin-top:15px;
    margin-left: 5px;
    border:none;
    font-family: 'Jua', sans-serif;
    background-color: #BC602B;
    color:white;
    border-radius: 5px;
}


.dropbtn {
  font-family: 'Jua', sans-serif;
  background-color: #04AA6D;
  color: white;
  padding: 5px;
      font-size:15px;
  border: none;
  margin-left: 5px;
  border-radius: 5px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #3e8e41;}


@media(max-width:500px) {
    .inputaddr {
        width: 80%;
    }
    .route-wrap{width: 70%;}
    .start_input, .end_input{
        width:300px !important;
        margin-bottom: 1% !important;
    }

    #search-btn{
        width:100px;

    }
    #find_botton{
        font-size:10px;
        margin: 5px;
    }
    #short,#safe{
        width:300px;

    }
    #short p{
        font-size:12px;
    }
    #safe p{
        font-size:12px;
    }
    #police-btn{
        width:70px;
        font-size: 12px;
    }
    #btn-112{
        width:75px;
        font-size: 12px;}
    .dropbtn {
        width:100px;
        font-size: 12px;}
}

